* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: tomato; }

.presentacion {
  background: #fff;
  width: 1000px;
  margin: auto;
  height: 500px;
  margin-top: 70px; }

.textos {
  margin: 10git 0px 0 0 50px;
  display: inline-block; }
